:root {
    --primary-color: black;
    --secondary-color: rgba(0, 0, 0, 0.9);
    --tertiary-color: darkred;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

p {
    color: white;
}

header {
    padding: 10px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    top: 0;
    border-bottom: white solid 1px;
}

header a {
    width: 30%;
}

header a img {
    justify-content: flex-start;
    width: 30%;
}
header nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: inherit;
    font-size: medium;
    list-style: none;
    width: 70%;
}

header nav ul li {
    color: white;
}

header nav ul li a {
    padding: 10px 15px;
    color: inherit;
    text-decoration: none;
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: white;
    border-radius: 10px;
    text-decoration: underline white;
}

.hero {
    background-image: url("./background-idea.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-bottom: white solid 1px;
}

.section-title {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: underline rgba(255, 255, 255, 0.892);
    font-size: xx-large;
    padding: 10px;
    padding-right: 30px;
    border-right: white solid 2px;
}

.recent-release {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: nowrap;
    padding: 30px;
    border-bottom: white solid 1px;
}

.discography {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: nowrap;
    padding: 25px;
    border-bottom: white solid 1px;
}

/* Taken from W3 */
.landing {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 30%;
}

.responsive-frame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
/* End W3 */

.contact {
    display: flex;
    flex-wrap: nowrap;
    background-image: url("./background-idea-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;

}

.Description {
    padding: 4px;
    padding-left: 30px;
    width: 65%;
    justify-content: flex-end;
}

.Description h3 {
    color: White;
    font-weight: bold;
}

.Description p {
    line-height: 1.6;
}

.album-overview {
    background-color: var(--secondary-color);
    padding: 15px;
    width: 35%;
    justify-content: flex-start;
    align-items: flex-end;
}

.album-overview p {
    margin: 2px;
    line-height: 1.4;
}

.album-cover img {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-bottom: 12px;
}

.release-title {
    font-weight: bold;
}

.discography-rows {
    padding-left: 20px;
    flex-wrap: wrap;
}

.discography-rows-small {
    padding-left: 20px;
    flex-wrap: wrap;
}

.discography-rows iframe {
    border: 0; 
    width: 280px; 
    height: 422px;
}

.discography-rows-small iframe {
    border: 0;
    width: 170px;
    height: 170px;
}

form {
    color: white;
    padding-left: 25px;
}



form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.892);
    border-radius: 10px;
    font-size: small;
    padding: 8px 16px;
}

form button {
    width: 40%;
    border: none;
    color: var(--tertiary-color);
    background-color: rgba(255, 255, 255, 0.892);
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 0;
}

form button:hover {
    background-color: var(--tertiary-color);
    color: rgba(255, 255, 255, 0.892);
}

footer {
    background-color: var(--primary-color);
    bottom: 0;
    padding: 5px;
}

footer img {
    width: 13%;
    align-items: flex-end;
}

footer p {
    display: block;
    text-align: right;
}

@media screen and (min-width: 781px) {
    .discography-rows {
        display: inherit;
    }

    .discography-rows-small {
        display: none;
    }

    .music-player {
        display: inherit;
    }

    .music-player-small {
        display: none;
    }


}

@media screen and (max-width: 780px) {
    .discography-rows {
        display: none;
    }

    .discography-rows-small {
        display: inherit;
    }

    .music-player {
        display: inherit;
    }

    .music-player-small {
        display: none;
    }

    .section-title {
        padding: 10px;
        padding-left: 5px;
        font-size: small;
    }

    header nav ul {
        font-size: x-small; 
    }

    .album-overview {
        display: none;
    }

    .landing {
        width: 90%;
        padding-top: 66.6%;
    }

    .discography-rows iframe {
        border: 0; 
        width: 170px; 
        height: 312px;
}

@media screen and (max-width: 520px) {

    .music-player {
        display: none;
    }

    .music-player-small {
        display: inherit;
    }

    header nav ul {
        font-size: xx-small;
    }

    .section-title {
        border-right: none;
    }

    

}
@media screen and (max-width: 300px) {
    .section-title {
        display: none;
    }
}